.img3{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("../Imgs/home-town-cover.png");
    object-fit: cover;
    background-position: center center;
}

.overview { grid-area: overview; }
.pic1 { grid-area: pic1; }
.pic2 { grid-area: pic2; }
.history { grid-area: history; }
.food { grid-area: food; }
.culture { grid-area: culture; }
.visit-time { grid-area: visit-time; }

.grid-container{
    display: grid;
    grid-template-areas: 
    'overview overview pic1'
    'pic2 history history';
    gap: 20px;
    background-color: white;
    padding: 10px;
    justify-content: center;
    width: 70%;
}

.grid-container2{
    display: grid;
    grid-template-areas: 
    'food culture visit-time';
    gap: 20px;
    background-color: white;
    padding: 10px;
    justify-content: center;
    width: 70%;
}

.grid-container > div{
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 20px 30px;
    font-size: 20px;
}

.grid-container2 > div{
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 20px 30px;
    font-size: 20px;
    width: 446px;
}

@font-face {
    font-family: Roboto-bold;
    src: url("../Fonts/Roboto-Bold.ttf");
}

.grid-container h2{
    font-size: 40px;
    font-family: Roboto-bold;
}

.grid-container .font{
    width: 800px;
}

.img{
    position: inherit;
    width: 500px;
}

.grid-container .img{
    padding: 0;
}

.grid-container .pic1{
    background-image: url('../Imgs/overview-img.png');
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 511px;
}

.h2-u {
    width: 100%;
    height: 0.1mm;
    background-color: black;
    border: 0.1mm solid white;
    border-radius: 5px;
    outline: none;
    align-items: center;
    margin: 0;
}

.grid-container .pic2{
    background-image: url('../Imgs/history-img.jpeg');
    background-repeat: no-repeat;
    background-size: 720px;
}

.grid-container2 .small{
    padding: 0;
}

.grid-container2 .small div:first-child{
    object-fit: cover;
    background-size: 100%;
    height: 220px;
    border-bottom: 2px solid rgb(255, 95, 122);
}


.grid-container2 .small div:nth-child(2){
    padding: 10px 30px;
}

.grid-container2 .food div:first-child{
    background-image: url('../Imgs/alleppey-food-img.jpg');
}

.grid-container2 .culture div:first-child{
    background-image: url('../Imgs/culture-cover-img.png');
}

.grid-container2 .visit-time div:first-child{
    background-image: url('../Imgs/visit-time-img.png');
}