body {
    padding: 0;
    margin: 0;
    font-family: calibri;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

@font-face {
    font-family: Roboto;
    src: url("../Fonts/Roboto-Regular.ttf");
}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: calibri;
    z-index: 1;
}


header h1 {
    font-size: 36px;
    margin: 0;
    font-family: impact;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
}


header img {
    max-width: 100%;
}

header nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    position: relative;
    transition: all 0.4s ease-in-out;

}

/* For header nav hover animation */
header nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    background-color: white;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

header nav a:hover::before {
    transform: scaleX(1);
}

header nav a::after {
    content: "";
    width: 100%;
    height: 2px;
    bottom: -5px;
    background-color: white;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

header nav a:hover::after {
    transform: scaleX(1);

}

header nav a:hover {
    color: white;
    transform: translateY(-3px) scale(1.1);

}

/* Header nav hover animation END */


.main-content {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#cover0 {
    margin-top: 0;
    color: white;
    width: 100%;
    height: 350px;
    margin: -25px 0 0 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url("../Imgs/Home-Cover-image.png");
    position: relative;
    font-family: roboto;
    text-transform: uppercase;
    z-index: 0;
}


#cover-txt {
    margin-top: 150px;
    margin-left: 9%;
}

.small-txt {
    font-size: 20px;
}

.big-txt {
    font-size: 100px;
}

.para {
    padding: 20px;
    margin: 10px 20% 10px 20%;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 40pt;
    font-family: roboto;
}

.para h2 {
    text-transform: capitalize;
    font-family: roboto;
    font-weight: lighter;
    text-align: center;
    color: rgb(126, 126, 126);
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    font-family: calibri;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}